# Dependencies
node_modules/
vendor/

# Build output
dist/
build/
*.o
*.exe

# Environment & secrets
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDE files
.vscode/
.idea/

# Python cache
__pycache__/

# Unit execution notebooks
*_unit_execution.ipynb

# CSV files (result)
*.csv

# PNG files (result)
*.png